 {
  box-sizing: border-box;
}
/* Set additional styling options for the columns*/
.container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.base-checkbox-container {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.stacked-checkboxes {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
