.checkbox > input[type='checkbox'] {
  display: none;
}

.checkbox {
  margin: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  position: relative;
}

.checkbox::before {
  content: '';
  position: absolute;
  left: 0;
  background-image: url('/public/assets/ic_checkbox_unchecked.svg');
  width: 24px;
  height: 24px;
  top: calc(50% - 12px);
}

.checkbox.checked::before {
  background-image: url('/public/assets/ic_checkbox_checked.svg');
  filter: invert(30%) sepia(75%) saturate(1656%) hue-rotate(171deg)
    brightness(94%) contrast(101%);
  clip-path: url('/public/assets/ic_checkbox_checked.svg#_Path_');
}

.checkbox.partial::before {
  background-image: url('/public/assets/ic_checkbox_half.svg');
}

.checkbox.disabled {
  opacity: 0.3;
}
